# Dono padrão do repositório
* @jonatasporto-dunamis

# (Exemplos) Quando adicionar colaboradores, especifique áreas
# /apps/web/ @jonatasporto-dunamis @colaborador1
# /apps/api/ @jonatasporto-dunamis @colaborador2
